@use "../utilities/variable" as v;
@use "../utilities/mixins" as m;

.img-xs {
    height: 35px !important;
    width: 35px !important;
}
.img-sm {
    height: 45px !important;
    width: 45px !important;
}

.img-md {
    height: 55px !important;
    width: 55px !important;
}

.img-lg {
    height: 65px !important;
    width: 65px !important;
}
.img-xl {
    height: 75px !important;
    width: 75px !important;
}
.contents-h-445 {
    height: 445px !important;
}

.arrow-cross-down {
    transform: rotate(50deg);
}

.zee-cards-wrapper {
    ul {
        position: relative;
        list-style: none;
        display: flex;
        justify-content: center;
    }

    li {
        border: 3px solid $white;
        border-radius: 50%;
        box-shadow: $box-shadow-sm;

        &:nth-child(1) {
            position: relative;
            left: -40px;
        }
        &:nth-child(2) {
            position: absolute;
            left: -30px;
        }
        &:nth-child(3) {
            position: absolute;
            left: -20px;
        }
        &:nth-child(4) {
            position: absolute;
            left: -10px;
        }
        &:nth-child(5) {
            position: absolute;
            left: -0px;
        }
    }
}

.search {
    &-wrapper {
        position: relative;
    }
    &-icon {
        position: absolute;
        top: 0.7rem;
        left: 6px;
        font-size: 1.1rem;
        color: v.$gray-400;
    }
    &-input {
        @include m.search-bar($height: 2.5rem, $padding: 1rem);
        text-indent: 1rem;

        &::placeholder {
            color: v.$gray-400;
        }
    }
}

.toggler {
    position: relative;
    display: inline-block;
    box-shadow: v.$box-shadow-sm;
    border-radius: 34px;
    width: 45px;
    height: 20px;

    &-input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked {
            + .toggler-slider {
                background-color: v.$primary-blue;

                &::before {
                    -webkit-transform: translateX(23px);
                    -ms-transform: translateX(23px);
                    transform: translateX(23px);
                    // background-color: v.$orange-100;
                }
            }
        }
        &:focus {
            + .toggler-slider {
                box-shadow: 0 0 1px v.$gray-200;
            }
        }
    }

    &-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: v.$gray-200;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 3px;
            bottom: 2px;
            background-color: v.$white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
    }
}

.toggler-slider.toggler-round {
    border-radius: 34px;
    &::before {
        border-radius: 50%;
    }
}

.modal {
    &-logo {
        height: 50px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        img {
            max: {
                height: 100%;
                width: 100%;
            }
        }
    }
    &-heading {
    }
    &-footer{
        border: 0px;
    }
}

.custom-modal {
    &-header {
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        .modal-heading {
            font-size: 1em;
            color: v.$gray-600;
        }
        .btn-close {
            background-color: #d9d9d9 !important;
            border-radius: 50%;
            font-size: 11px;
            background: none;
            height: 10px;
            line-height: 0;
            width: 10px;

            padding: 4px;
            &::after {
                content: "\f00d";
                font-family: fontawesome;
            }
        }
    }
    &-content {
        border: 0 !important;
        @include m.custom-modal($border: "0 !important", $radius: "0.8em");
    }
}
