@import "./components/table";
@import "./utilities/variable";
@import "./components/card";
@import "./components/calendar";
// @import "./utilities/helpers";


* {
    // font-size: 1vw;
    font-weight: $font-weight-medium;
    box-sizing: border-box;
}

// label,
// p,
// span {
//     color: $gray-600;
// }

body {
    background-color: $bg-body;
}

.collapse {
    visibility: visible !important;
}

.investment_dropDown .dropdown-toggle:after {
    display: none;
}

.investment_dropDown .dropdown-menu {
    min-width: 120px;
}



