@import "./components/table";
@import "./utilities/variable";
@import "./components/card";
@import "./utilities/helpers";
@import "./components/buttons";

* {
    // font-size: 1vw;
    font-weight: $font-weight-medium;
    box-sizing: border-box;
}

label,
p,
span {
    color: $gray-600;
}

body {
    background-color: $bg-body;
}

