.appraisal-user{
    height: 90px !important;
    width: 90px !important; 
}
.appraisal-right-content,.appraisal-left-content {
    background-color: #c1d3e3 !important;
    /* margin: 10px 0px 0px; */
}
.appraisal-right-content .input-wrap{
    width: 100%;
    /* border: 1px solid; */
    padding: 3px 15px;
    border-radius: 5px;
    background: #f4faff;
    display: flex;
    align-items:center;
}
.input-wrap p{
    color: #002f56;
    font-weight: 600;
    font-size: smaller;
}
.input-wrap .appraisal-box{
    padding: 3px 10px;
    flex: none;
    text-align: center;
}

.left-content ul li{
    margin-bottom: 12px ;
}

.e-table>:not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: .45rem .6rem !important;
}

.e-table .e-table,
.e-table>thead {
    border: 0px !important;
}

.table-bordered .table-bordered>:not(caption)>*>* {
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
}

.inp-text {
    height: 165px;
    width: auto;
    word-break: break-word;
}



.table-content {
    overflow: auto ;
}

.table-content table th {
    background: var(--vz-header-bg-dark);
    /* width: 250px; */
    color: #fff;
}

.table-content div {
    /* max-height: 300px;
    min-height: 150px;
    max-width: 600px;
    min-width: 400px; */
    width: 200px;
    height: auto;
}
.table-content textarea{
    border: 0px;
    outline: none;
}

