.appraisal-user{
    height: 90px !important;
    width: 90px !important; 
}
.appraisal-right-content{
    background-color: #c1d3e3 !important;
    margin: 28px 0px 0px;
}
.appraisal-right-content .input-wrap{
    width: 100%;
    /* border: 1px solid; */
    padding: 3px 15px;
    border-radius: 5px;
    background: #f4faff;
    display: flex;
    align-items:center;
}
.input-wrap p{
    color: #002f56;
    font-weight: 600;
    font-size: smaller;
}
.input-wrap .appraisal-box{
    padding: 3px 10px;
}