.f-20 {
    font-size: 20px;
}

.fade {
      transition: opacity 0.2s linear !important;
}

.rounded-corner-add {
    /* border-radius: 30px !important; */
    padding: 10px !important;
    width: 100px !important;
}

.br-card {
    border-radius: 10px !important;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #e9284a;
  border-color: #e9284a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.number-top {
    border-radius: 0px 0px 30px 0px;
    padding: 2px 18px 12px 17px;
}

.plus-sign {
    --vz-bg-opacity: 1;
    background-color: rgba(var(--vz-light-rgb), var(--vz-bg-opacity)) !important;
    border-radius: 20px;
}

.avatar {
  display: inline-block;
}

.avatar:not(:first-child) {
  margin-left: -13px;
}

.img-addition {
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.gridjs-footer {
    float: right !important;
}

.previous, .next {
    background: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate span .current {
    color: white !important;
}

span .current {
    color: white !important;
}

span .paginate_button {
    background: #405189 !important;
}
#empTable td:before {
    content: attr(data-label);
    display: inline;
    position: relative;
    font-size: 85%;
    top: -0.5rem;
    float: left;
    color: #808080;
    min-width: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: left;
}

#empTable {
    border-collapse: separate;
    
}


table {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;

}

table th {
    /* color: #4c9393; */
    background-color: #b0bff1;
    padding: 15px 10px !important;
}

#kpiTable th {
    border: 1px solid #a4a6a9;
}

tbody {
    background-color: #fff;
}

tbody tr:hover {
    background-color: #f3f3f9;

}

#kpiTable td {
    background: #befbbe5e;
    border: 1px solid #a4a6a9;
}

td {
    border: solid 1px #000;
    border-style: none solid solid none;
    padding: 10px;
    font-weight: 600;
    color: #878aa5;

}

td .btn i {
    font-size: 16px;
}

#empTable tr.selected td:before {
    color: #404040;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom: none !important;
}

.table>:not(caption)>*>* {
    border-bottom: none !important;
}

.table td, .table th {
    border-top: none !important;
}


#empTable td:first-child,
#empTable th:first-child {
  border-radius: 10px 0 0 10px;
}

#empTable td:last-child,
#empTable th:last-child {
  /* border-radius: 0 10px 10px 0; */
}

/* .text-box-td {
    padding: 0 !important;
} */


.text-box {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid !important;
}


