.nav-tabs-dashed .nav-item .attendances-analyist-tab {
    background-color: #dfdfdf;
    color: #c2c1bf;
    font-size: 14px;
    padding: 6px 25px;
}
.nav-tabs-dashed .nav-item .attendances-analyist-tab.active {
    background-color: #002f56 !important;
    color: #fff !important;
    border: none !important;
    position: relative;
    z-index: 2;
    font-size: 14px;
    border-radius: 5px !important;
}
.nav-tabs-dashed .nav-item .margin-left-mainases {
    position: relative;
    margin-left: -8px;
    z-index: 1;
}
.form-check-input:checked {
    background-color: #002f56 !important;
}
.bottom-content .check-box {
    border: 1px solid #ced4da;
    height: 15px !important;
    height: 13px !important;
    padding: 7px;
    margin: 5px;
}
