#chart-container {
    height: auto;
    /* border: 1px solid #aaa; */
    overflow: auto;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    border-top: 5px solid #002f56;
}

.orgchart {
    background: rgba(255, 255, 255, 0);
}
.orgchart .hierarchy::before{
    background-color: #002f56 !important;
    border-top: 2px solid #002f56 !important;
}

.orgchart .node:not(:only-child)::after {
    background-color: #002f56 !important;
    }

.orgchart .node .title{
    background-color: #002f56 !important; 
}
.orgchart ul li .node:hover {
    background-color: rgb(0 47 86 / 22%) !important;
    border-radius: 3px !important;
}

.orgchart .node .content{
    border: 1px solid #002f56 !important;
}
.orgchart .edge:hover::before {
    border-color: #ff4d00 !important;
}

.orgchart .node.focused{
    background-color: rgb(0 47 86 / 22%) !important;
}

.orgchart>ul>li>ul li>.node::before {
    background-color: #002f56 !important;
}

.orgchart .node .edge::before {
    border-color: #ff4d0087 !important;
}