.choose-file{
    position: relative;
    cursor: pointer;
    color: #0d6efd;
}

.choose-file input{
    position:absolute;
    opacity:0;
    width: 100px;
    height: 30px;
    top: 0px;
    left: 0px;
}
