.main-page {
    width: 210mm;
    min-height: 297mm;
    margin: 10mm auto;
    background: white;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: bo;
}

.sub-page {
    padding: 1cm;
}

@media print {
    .main-page {
        page-break-after: always;
    }
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .main-page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

/* policy version table */

table.policy_table,
table.policy-table {
    width: 100%;
    border-collapse: collapse;
    color: #006bb1;
    text-align: justify;
}
table.policy_table td {
    vertical-align: initial;
}
.pad-right-10 {
    padding-right: 10px;
}

table.policy-version-table,
table.policy-table {
    width: 100%;
}
table.policy-table tr:nth-child(even) {
    background-color: #0067bf30;
}
table.policy-version-table td:first-child {
    min-width: 250px;
}
table.policy-version-table td {
    padding-right: 5px 10px;
    height: 25px;
    border: 0px;

    border-radius: 0px !important;
}
table.policy-version-table td,
table.policy-version-table td p,
table.policy_table td p ,table.policy_table td span,
table.policy_table td p {
    color: #006bb1;
}

.text-strong {
    font-weight: 600;
}

.pad-right-50 {
    padding-right: 50px;
}
.bg-blue {
    background-color: #0067bf30;
}

table.policy-version-table td:nth-child(odd) p {
    white-space: nowrap;
    color: #006bb1;
}

.border-bottom-top {
    border-top: 1px solid #006bb1;
    border-bottom: 1px solid #006bb1;
}
.border-b {
    border-bottom: 1px solid #006bb1;
}

.border-none-left-right {
    border-left: 0px;
    border-right: 0px;
}

.pad-bottom-25 {
    padding-bottom: 25px;
}
.pad-top-5 {
    padding-top: 5px;
}
.pad-top-bottom-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad-bottom-15 {
    padding-bottom: 15px;
}
.pad-bottom-10 {
    padding-bottom: 10px;
}
.pad-top-10 {
    padding-top: 10px;
}
