.profile-img-wrap .fileupload {
    background: rgba(33, 33, 33, 0.75);
    bottom: 0px;
    position: absolute;
    width: inherit;
    color: white;
    z-index: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .user_profile-wrapper{
    height: 75px;
    width: 75px ;
    background: #f1f1f1;
    border-radius: 50%;
    background: #f1f1f1;
} */

.profile-img-wrap .fileupload .upload {
    cursor: pointer;
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: -3px;
    width: inherit;
    left: 0px;
}

#profileShortNameLargeCircle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1;
    font-size: 20px;

    text-align: center;
    line-height: 60px;
    margin: 0px 0;
    font-weight: 600;
}

#profileShortNameLargeCircle-profile {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #003156;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #ffffff;
}

#pencil-on-avatar {
    margin-top: 65px;
    margin-left: -15px;
}

#experience-detail-table::-webkit-scrollbar-track {
    background-color: #ccc;
}

#experience-detail-table::-webkit-scrollbar-thumb {
    background-color: red;
}

.edit-icon {
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #e63b1f;
    float: right;
    font-size: 12px;
    line-height: 20px;
    /* min-height: 26px; */
    height: 22px;
    text-align: center;
    width: 22px;
    border-radius: 50%;
}


.box {
    position: relative;
    background: #ffffff;
    width: 100%;
  }

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
  }

  .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
  }

  .dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
  }

  .dropzone,
  .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
  }

  .dropzone-wrapper:hover,
  .dropzone-wrapper.dragover {
    background: #ecf0f5;
  }

  .preview-zone {
    text-align: center;
  }

  .preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }
