@import url(../../assets/css/shared.css);

.profile-img-wrap .fileupload {
    background: rgba(33, 33, 33, 0.75);
    bottom: 0px;
    position: absolute;
    width: inherit;
    color: white;
    z-index: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .accordion-button:not(.collapsed)::after{
    background-image: none !important;
} */

.text-dark_green {
    color: #054a2e;
}

.experience-icon{
    position: relative;
}
.experience-icon i.icons{
    /* position: absolute; */
    opacity: 0.8;
    color: var(--color-medium-ash);
    font-size: 20px;
}
/* .user_profile-wrapper{
    height: 75px;
    width: 75px ;
    background: #f1f1f1;
    border-radius: 50%;
    background: #f1f1f1;
} */

.profile-img-wrap .fileupload .upload {
    cursor: pointer;
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: -3px;
    width: inherit;
    left: 0px;
}

#profileShortNameLargeCircle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1;
    font-size: 20px;

    text-align: center;
    line-height: 60px;
    margin: 0px 0;
    font-weight: 600;
}

#profileShortNameLargeCircle-profile {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #003156;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #ffffff;
}

.profile-img a.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #c1c1c1;
    cursor: pointer;
}

#experience-detail-table::-webkit-scrollbar-track {
    background-color: #ccc;
}

#experience-detail-table::-webkit-scrollbar-thumb {
    background-color: red;
}

.edit-icon {
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px ;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #e63b1f;
    float: right;
    font-size: 12px;
    line-height: 20px;
    /* min-height: 26px; */
    height: 22px;
    text-align: center;
    width: 22px;
    border-radius: 50% ;
}

.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

/* finace  tab*/

.timeLine_period {
    list-style: none;
    position: relative;
}
.period:nth-child(1) {
    margin-bottom: 200px;
}

.period::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 50px;
    top: 45px;
    border-radius: 50%;
    background-color: var(--color-lite-green);
}
/* .period.active::after {
    background-color: var(--color-lite-green);

} */

.period::before {
    position: absolute;
    content: "";
    border: 1px solid var(--color-medium-ash);
    height: 185px;
    border-style: dashed;

    top: 54px;
    left: 54px;
}
/* .period.active::before
{
    border: 1px solid var(--color-lite-green);

} */




/* new  */


.space-between{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
}
.Allcontent{
display: flex;
justify-content: center;
align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
:root{
    --clr-light-blue:#0d6efd;
    --color-blue:#002f56;
    --color-white:#fff;
    --color-orange:#e63b1f;
    --light-orange-color:#ee6a04;
}

.bar-card{
width: 100%;
background: var(--color-white);
box-shadow: 0 0px 2px rgb(0, 0, 0);
}


.btn_txt{
    color: var(--color-orange) !important;
    border: none;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    border-radius: 50px !important ;
    background-color: #fff;
    /* padding: 8px 12px; */
}
.bar-card{
    background-color:var(--color-blue);
    color: aliceblue;
    margin-top: 0.5rem;
    height: 3rem;
    border-radius: 2px;
}
.bar-card > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 35px 0 35px;
}
.bar-card > ul > li{
    display: inline;
    list-style: none;
    font-weight: 500;
}
.txt{
    font-weight: 500;
}
.div{
border-top: 5px solid var(--color-blue);
border-radius: 12px;
}
.submit_btn{
    background-color: var( --light-orange-color) !important;
    color: var(--color-white) !important;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    margin-top: 0.5rem;
}
.btn-close:focus {
    box-shadow: none !important;
}
.modal-footer >.add_more> i{
    width: 18px;
    height: 18px;
    font-size: 16px;
    border-radius: 50%;
    background:white;
    color:blue;
    /* background-color: var(--clr-light-blue); */
    margin: 0 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer >.add_more> i{
    color:var(--clr-light-blue);
}
.modal-footer >.add_more >h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color:var(--clr-light-blue);
}
.add_more{
    border: none;
    height: 2rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: none !important;
    margin:1.5rem 0 0.5rem 0;
}
.add_more:focus{
border: none;
}
.mdl {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: flex-end !important;
    justify-content: center;

}
/* add_card */
.input-card{
    height: 100%;
    border-radius: 4px;
    border: 0.1px solid rgba(128, 128, 128, 0.534);
    position: relative;
    margin-top: 1rem;
    padding-bottom:1rem !important;
}

.delete_button_family_details{
    border: none;
    font-weight: 400;
    font-size: 14px;
    position:absolute;
    right: 0rem;
    background-color: transparent;
    margin: 1.5rem 0.5rem 0 0;
}
.input-cards ,.input-card > ul {
    width: 100%;
    height: 100%;
    margin-top: 3.5rem;
    padding: 0 12px;
}
.input-cards , .input-card > ul >li{
    width: 100%;
    height: 8rem;
    list-style: none;
}
.M-T{
    margin: 0.4rem 0 0 0;
}
/* {
    width: 100%;
    height: 5rem;
    border: #e63b1f 1px solid ;
    margin-top: 3rem;
} */
.input_text span{
font-size: 14px;
color: var(--color-blue);
}
.input_text{
    width: 48%;
}
.input_text > input{
    border: 0.1px solid rgb(187, 187, 187);
    padding: 4px;
    border-radius: 4px;
    outline-color: var(--color-blue);
}
/*  */
.input-cards{
    height: 100%;
    border-radius: 4px;
    border: 0.1px solid rgba(128, 128, 128, 0.534);
    position: relative;

}
/* #ul_id{
    padding: 0 0 4rem 0 ;
} */

/* */
.card{

    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important  ;
}
.exp-addition-content{
    margin-bottom:1rem;
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
}

