.home-wrapper{
    position: relative;
    bottom: -30px;
    top: -10px;
}
.pay-summary-border svg {
    border: 1px solid #C9CEDE;
    border-radius: 50%;
    padding: 4px;
    height: 143px !important;
    width: 143px !important;
}
.pay-chart-column {
    margin-left: 50px !important;

}

.take-home-bar,
.deductions-bar,
.cross-pay-bar {

    height: 5px;
    width: 20px;

}

.take-home-bar {
    background: #17b510;
}

.cross-pay-bar {
    background: #9d3074;
}

.deductions-bar {
    background: #3d2fff;
}

.dotted-line {
    border-top:2px dashed #f1f3f4;
    
}
.opacity-low{
    opacity: 0.2;
}
.opacity-medium{
    opacity: 0.5;
}

/* .dotted-line i,span{
    opacity: 1;
} */


/* .nav-tabs .nav-link {
    padding: 10px 214px;
} */


.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top: 5px solid #002F56 !important;
}

/* .declaration-card .declaration-important-card,.house-card .declaration-important-card {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    background: #ff000014;
} */

.bg-light-red ,.bg-medium-red{
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px !important;
    
}
.bg-light-red{
    background: #ff000014 !important;
}
.bg-medium-red{
    
    background:#ff000029 !important;
}
.declaration-card .declaration-tax-card,
.card-left-bar {
   border-left: 5px solid #002f56 !important;
}
.small-card{
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px !important;
    height: 90px !important;
}


.declaration-card .declaration-tax-card span {
    font-size: 10px;

}

.tax-table tr th hr.one,
hr.two,
hr.three {

    margin: 0px;
    height: 5px !important;
    width: 25px;
    bottom: -10px;
    position: relative;
    z-index: 10;
    left: 25px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}

.tax-table tr th hr.one {
    background: #ff9100;
}

.tax-table tr th hr.two {
    background: #0fd4f7;
}

.tax-table tr th hr.three {
    background: #0ff70f;
}

/* .tax-table>thead>tr>th,.tax-table>thead>tr>td{
    padding: 0px !important;
    }


    .tax-table tr th p{
        padding: 10px 0px;
    } */


.tax-details p hr.one{
    height: 10px;
    width: 10px;
    background: #ff9100;
}

.tax-details:nth-child(2)::before {
    background: #0fd4f7;
}

.tax-details:nth-child(3)::before {
    background: #0ff70f;
}
.small-card{
    height: 170px;
}


.chart{
    height: 200px;
    width: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
    border-radius: 50%;
}

/* chart */

figure {
    background-color:transparent;
    display: block;
    height: 140px !important;
    border: 1px solid #eee;
    border-radius: 50%;
    position: relative;
    font-size:16px;
    font-size:1vw;
    width:140px !important;
    /* padding-bottom: 40em; */
    margin: 0 !important;
  }
  
  .pie-chart svg {
    display: block;
    height: 130px !important;
    width: 130px !important;
    position: absolute;
    top: 4px;
    left: 4px;
    overflow: visible;
  }
  circle {
      fill:rgba(0,0,0,0);
    stroke-width:31.8309886184;
    stroke-dasharray: 0,0,0,100;
    stroke-dashoffset: 25;
    -webkit-animation: pie1 3s infinite ease both;
    animation: pie1 6s ease both;
  }
  .pie1 {
    stroke: #9c3073;
  }
  .pie2 {
    stroke:#26d9d9;
    -webkit-animation-name: pie2;
    animation-name: pie2;
  }
  .pie3 {
    stroke: #18b710;
    -webkit-animation-name: pie3;
    animation-name: pie3;
  }
  .pie4 {
    stroke:#3d2fff;
    -webkit-animation-name: pie4;
    animation-name: pie4;
  }
  /*
   pie percentage made by stroke-dasharray.
   stroke-dasharray format is...
  
   keyframe 100% : 0 offset this-percentage rest
  
   I added keyframe 50% for infinite presentation.
  */
  
  /* 1st pie is 40% */
  @-webkit-keyframes pie1 {
    50%,100% {stroke-dasharray: 40,60,0,0;}
  }
  @keyframes pie1 {
    50%,100% {stroke-dasharray: 40,60,0,0;}
  }
  /* 2nd pie is 30% */
  @-webkit-keyframes pie2 {
    50%,100% {stroke-dasharray: 0,40,30,30;}
  }
  @keyframes pie2 {
    50%,100% {stroke-dasharray: 0,40,30,30;}
  }
  /* 3rd pie is 30% */
  @-webkit-keyframes pie3 {
    50%,100% {stroke-dasharray: 0,70,20,10;}
  }
  @keyframes pie3 {
    50%,100% {stroke-dasharray: 0,70,20,10;}
  }
  /* 4th pie is 10% */
  @-webkit-keyframes pie4 {
    50%,100% {stroke-dasharray: 0,90,10,0;}
  }
  @keyframes pie4 {
    50%,100% {stroke-dasharray: 0,90,10,0;}
  }