.card-mini {
    height: 80px;
    width:220px;
    border-radius: 5px;
    /* box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px   0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0px;
}

.line-0{
    border: 0px !important;
}

.top-line{
    border-top: 5px solid #002f56;
}
.left-line{
    border-left: 5px solid #002f56;
}

