
@use '../utilities/variable' as v;

.p-button{
    color: v.$white !important;
    padding: .5em 1.5em !important;
    height: 2.5em !important;

    span{
        color: v.$white !important;
    }
    &.h-3rem{
        height: 2.5rem !important;
    }
}

