// brand color
$prefix-variable:ABS-;

// for font weight
$font-weight-bold:700;
$font-weight-semibold:600;
$font-weight-medium:500;
$font-weight-regular:400;
$font-weight-lighter:lighter;
$font-weight-bolder:bolder;

// colors:declaration variable
$navyblue-600:#002f56;
$orange-500:#ff6000;

$white:#fff;
$black:#000;

// gray
$gray-100:#f7f7f7;

// border radius

$num-50:50;

//
$box-shadow-light: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$box-shadow-600: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



:root{

    --#{$prefix-variable}primary:#{$navyblue-600};
    --white:#{$white};
    --black:#{$black};
    --raidus:#{$num-50};
    --font-regular:#{$font-weight-regular};
    --bg-gray-100:$gray-100;

}

.font-regular{
    font-weight: $font-weight-regular;
}

.font-bold{
    font-weight: $font-weight-bold;
}
.font-lighter{
    font-weight: $font-weight-lighter;
}

.font-medium{
    font-weight: $font-weight-medium;
}










// $yellow-100: tint-color($yellow, 80%);
// $yellow-200: tint-color($yellow, 60%);
// $yellow-300: tint-color($yellow, 40%);
// $yellow-400: tint-color($yellow, 20%);
// $yellow-500: $yellow;
// $yellow-600: shade-color($yellow, 20%);
// $yellow-700: shade-color($yellow, 40%);
// $yellow-800: shade-color($yellow, 60%);
// $yellow-900: shade-color($yellow, 80%);
// $yellows: (
//   "yellow-100": $yellow-100,
//   "yellow-200": $yellow-200,
//   "yellow-300": $yellow-300,
//   "yellow-400": $yellow-400,
//   "yellow-500": $yellow-500,
//   "yellow-600": $yellow-600,
//   "yellow-700": $yellow-700,
//   "yellow-800": $yellow-800,
//   "yellow-900": $yellow-900
// );
