@use "../utilities/mixins" as m;
@use "../utilities/variable" as v;

.custom-card {
    @include m.custom-card($height: "12rem", $boxShadow: "rgba(0, 0, 0, 0.24) 0px 3px 8px", $radius: "0.9rem");
    .auth {
        &-logo {
            width: 70px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: center;

            img {
                max: {
                    width: 100%;
                    height: 100%;
                }

            }
        }

        &-heading {
            font-weight: v.$font-weight-bold;
            font-size: 1.3em;
            color: v.$gray-600;
        }
        &-content {
            p {
                color: v.$gray-400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    overflow: visible;
                    white-space: normal;
                    height: auto;
                }
            }
        }
    }
}
