@use "../utilities/variable" as v;
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    &::after {
        content: "";
        position: absolute;
        width: 3px;
        background-color: v.$primary-blue;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    .container {
        display: revert;
        background-color: inherit;
    }
    .container::after {
        content: "Current";
        position: absolute;
        width: 4.5rem;
        height: 4.5rem;
        right: -18%;
        // background-color: v.$white;
        background-color: v.$orange-median;
        top: 0px;
        border-radius: 50%;
        z-index: 1;
        color: v.$white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        white-space: pre;
        text-align: center;
        border: 4px solid v.$bg-body;
    }
    .container:nth-child(2)::after {
        // @extend .container;
        content: "2.5 \A years" !important;
        background-color: v.$green-median;
    }
    .container:last-child()::after {
        bottom: 20px;
    }

    .container:first-child()::after {
        bottom: 20px;
    }

    .container {
        width: 45%;
        position: relative;
        margin: 0;
        padding: 0;
        min-height: 150px;
        height: 160px;
    }
    .left {
        left: 0px;
        &::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 20px;
            width: 0;
            z-index: 1;
            right: -9px;
            border: medium solid v.$white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent v.$white;
        }
    }
    .right {
        // background-color: v.$white !important;
        left: 55%;
        &::before {
            @extend .left;
            left: -10px;
            border-width: 10px 10px 10px 0;
            border-color: transparent v.$white transparent transparent;
        }
        &::after {
            // left: -16px;
            right: 103%;
        }
    }
    ul {
        li {
            .text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    overflow: visible;
                    white-space: normal;
                    height: auto;
                }
            }
        }
    }
}

//   experience-wrapper
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}
